@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap');


.navbar {
    background-color: #AAD8E9;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.right {
    display: flex;
    gap: 35px;
    margin: 0 35px;
}

.right a {
    color: black;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 700;
    align-self: center;
    text-decoration: none;
    font-size: 20px;;
}

.earth-icon {
    display: flex;
    height: 50px;
    margin: 0 25px;
}