@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@700&display=swap');

body {
    margin:0;
}

.signup-page {
    overflow-y: hidden;
}

.signup-page-content {
    padding-top: 4% ;
    display: flex;
}
 .signup-left {
    width: 50%;             
    height: 100vh;          
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 3%;

 }

 .username, .password {
    display: flex;
 }

.bigUser {
    display: flex;
    justify-self: center;
    width: 160px;
}

.username img {
    background-color: #AAD8E9;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
}

.password img {
    background-color: #76AFE4;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
}

input {
    border: none;
    border-radius: 30px;
    padding: 20px;
    width: 470px;
    height: 35px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    background-color: #c8e4f2;
}

.top-inputs,
.bottom-inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 36px 0px;
}


.signup-btn {
    color: white;
    background-color: #39535D;
    padding: 15px 22px;
    border-radius: 30px;
    font-size: 21px;
    font-family: 'Noto Sans Georgian', serif;
    cursor: pointer;
    box-shadow: 1px 1px 2px #0f232b;

}

.signup-btn:hover {
    box-shadow: 2px 3px 4px #132f3a;
    transform: translateY(2px);
}

.signup-btn:active {
    box-shadow: 2px 3px 4px #09181e;
    transform: scale(0.98);
}




.right-shaded-box {
    margin-top: 0%;
    background-color: #8eadc060;
    width: 50%;
    height: 100%;
    margin-left: auto; 
}

.images-signup {
    position: relative;       
    display: flex;
    justify-content: right;  
    align-items: right;
    margin-right: 15%;
}

.oxford {
    height: 380px;
    position: absolute;
    top: 50%;                 
    left: 50%;               
    transform: translate(-85%, -50%);  
    height: 350px;
}

.bigben {
    margin-top: 15%;
    height: 360px;
}

.tree {
    height: 340px;
    margin-bottom: 35%;
}

.stacked-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

