@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@800&display=swap');

.top-text-lp {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
}

.main-text-lp {
    margin-top: -3%;
    font-size: clamp(5.5rem, 8vw, 8rem);
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.descript-text-lp {
    display: flex;
    font-size: clamp(1.8rem, 3vw, 2rem);
    text-align: center;
    justify-content: center;
    font-family: 'Fira Sans Condensed', serif;
    font-weight: 700;
    margin-top: -10%;
}

@media (max-width: 1024px) {
    .logged-in-homepage-wrapper .images {
        display: none;
    }

    .logged-in-home-part {
        justify-content: center;
    }

    .logged-in-text-on-left {
        max-width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .logged-in-homepage-wrapper .top-text-lp,
    .logged-in-homepage-wrapper .main-text-lp,
    .logged-in-homepage-wrapper .descript-text-lp {
        justify-content: center;
        text-align: center;
    }
}
