@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap');

body {
    margin: 0;
    
}

.planning-page-wrapper {
    margin-top: 60px;
    display: grid;
    position: relative;
}

.inner-box {
    display: flex;
    justify-self: center;
    justify-content: center;
    z-index: 1;
    background-image: url('../../assets/planning-img/waves.png');
    width: 1000px;
    height: 500px;
    border-radius: 120px;
    align-content: center;
    margin-top: -80px;
}

.inner-box-items {
    display: flex;
    align-items: center;
    gap: 70px;
}

.calendar {
    background-color: white;
    width: 330px;
    height: 290px;
    border-radius: 30px;
}

.dates {
    background-color: #47708d;
    width: 330px;
    height: 290px;
    padding: 10px;
    color: white;
    justify-items: center;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Inter', serif;
}

.dates input {
    width: 250px;
    height: 21px;
    font-size: 17px;
    background-color: #E1F0F6;
}

.top-box {
    display: grid;
    justify-items: center;
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 440px;
    height: 70px;
    border-radius: 100px;
    border-style: solid;
    border-color: #80A6BD;
    border-width: 13px;
    padding: 15px 5px;
    box-shadow: 1px 3px 5px #485e68;
    z-index: 2;
}

.top-box input {
    width: 345px;
    height: 10px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: -12px;
    background-color: #d2e6ee;
    
}

.top-box h3 {
    font-family: 'Inter', serif;
    font-size: 19px;
    margin-top: -4px;
    
}

.bottom-box {
    display: grid;
    margin-top: -20%;
    justify-items: center;
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 440px;
    height: 70px;
    border-radius: 100px;
    border-style: solid;
    border-color: #80A6BD;
    border-width: 13px;
    padding: 15px 5px;
    box-shadow: 1px 3px 5px #485e68;
    z-index: 3;

}

.bottom-box h3 {
    font-family: 'Inter', serif;
    font-size: 18px;
    margin-top: -4px;
}

.transportation {
    display: flex;
    gap: 15px;
    align-content: center;
}

.transportation p {
   margin: 0;
   font-family: 'Noto Sans Georgian', serif;
   font-size: 13px;
}

.box1, .box2, .box3, .box4 {
    background-color: #ebf2f5;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 3px 2px rgb(115, 116, 118);
    width: 65px;
    height: 45px;
    padding: 5px 3px 3px 3px;
    margin-top: -12px;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    box-shadow: 1px 3px 2px rgb(115, 116, 118);
    background-color: #E6E4E4;
}

.confirm-details {
    position: absolute;
    right: 11%;
}

.arrow-bg img {
    width: 70px;
    height: 50px;
}

.arrow-bg {
    background-color: white;
    border-radius: 50%;       
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #80A6BD;
    border-width: 13px;
    box-shadow: 1px 4px 4px #485e68;
}

